.inBetweenSpaces {
    margin-bottom: 200px;
}

img {
    width: 160px;
}

@media (max-width: 768px) {
    .display-3{
        font-size: 3.3em;
    }
    .inBetweenSpaces{
        margin-bottom: 80px;
    }

}

/* after top navbar collapses */
@media (max-width: 1199px) {
    .navbar{
        overflow-x: auto;

    }
    img{
        padding-left: 10%;
    }
    .inBetweenSpaces{
        margin-bottom: 150px;
    }
    .responsive {
        display: none !important
    }
    .containerControl {
        margin-left: auto !important;
        margin-right: auto !important;

    }
    .computerNavbar {
        display: none;
    }
}




/* */
@media (min-width: 768px) {
    .responsiveNav {
        display: block;
    }
    .containerControl {
        margin-right: 10px;
        max-width: 800px;

    }



}
/* before top navbar collapses  */
@media (min-width: 1200px) {
    .responsiveNav {
        display: none
    }
    .containerControl {
        max-width: fit-content !important;

    }
    .mobileNavbar {
        display: none;
    }

}



@media (min-width: 1400px) {
    .responsiveNav {
        display: none
    }
    .containerControl {
        max-width: 1100px !important;
        margin-left: 21% !important;
        margin-right: auto !important;

    }


}


.codeStyle{
    background-color: rgb(250, 250, 250);
    padding: 30px;
    padding-bottom: 14px;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 8px;
    margin-bottom: 80px;
    font-family: 'Courier New', Courier, monospace;
    color: royalblue !important;
}

.codeStyleLesser {
    background-color: rgb(250, 250, 250);
    padding: 5px;
    margin-left: 3px;
    margin-right: 3px;
    border-radius: 4px;
    color: royalblue;
}


.oFlow{
    width: 100%;
    height: 260px;
    overflow: auto;
    border-radius: 8px;
}

.oFlowLeftNav{
    width: 250px;
    height: 900px;
    overflow-x: hidden;
}

.containerControl {
    margin-left: 300px;

}


.sidenav {
    display: block;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 60px;
  }

.code {
    color: royalblue !important;
}

.lightMargin {
    margin-bottom: 10px;
}

.certainMargin {
    margin-bottom: 20px;
}

.lightMarginTop {
    margin-top: 35px;
}

.someMargin {
    margin-bottom: 80px;
}

.usualTopMarginForHeadings {
    margin-top: 200px;
}


.underHeadlines {
    margin-bottom: 50px;
}

.navbar-dark {
    text-align: center;
}




/* Doesn't work on other browsers than Safari
  .acrylic {
      -webkit-backdrop-filter: 
        blur(8px)
        saturate(180%);
      background-color:rgba(30, 30, 30, .8);
  }
  */